@model MessManagementSystem.Shared.Models.ResponseModels.StudentResponseModel
@{
	Layout = "~/Views/Shared/_DreamLayout.cshtml";
}

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>Profile</h4>
			</div>
		</div>
		<!-- /add -->

		<partial name="_AddEditStudentForm" model="Model" />
		
		<!-- /add -->
	</div>
</div>

<script>

	function ResetPassword() {

		 var isValid = true;
		if ($("#newPassword").val() == "" || $("#newPassword").val() == null) {
                toastr.error("Please enter New Password!");
                isValid = false;
            }
            if ($("#confirmPassword").val() == "" || $("#confirmPassword").val() == null) {
                toastr.error("Please enter confirm password!");
                isValid = false;
            }    
			if ($("#email").val() == "" || $("#email").val() == null) {
                toastr.error("Please enter email!");
                isValid = false;
            }
			
		var StudentData = {
						
							Email: $("#email").val(),
							NewPassword: $("#newPassword").val(),
							ConfirmPassword: $("#confirmPassword").val(),
					  };
		if (StudentData == null) {
			return;
		}
		$.ajax({
			url: '/account/ResetPassword',
			type: "POST",
			data: StudentData,
			success: function (result, status) {
				debugger;
				if (result.isSuccess == true) {

					toastr.success(result.message);
				}
				window.location.reload();

			},
			error: function (result) {
				toastr.error(result);
			},
		});

	}

</script>