@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KMSMC MESS Login">
    <meta name="keywords" content="mess, login, student, admin, management">
    <title>Login - KMSMC MESS</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/DreamTemplates/images/icons/logo.png">
    <link rel="stylesheet" href="~/DreamTemplates/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/DreamTemplates/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/DreamTemplates/css/all.min.css">
    <link rel="stylesheet" href="~/DreamTemplates/css/style.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>

<body class="account-page bg-white">

    <!-- Loader -->
    <div id="global-loader">
        <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
        <div class="account-content">
            <div class="row login-wrapper m-0">
                <div class="col-lg-6 p-0">
                    <div class="login-content">
                        <form id="loginForm">
                            <div class="login-userset">
                                <div class="login-logo logo-normal">
                                    <img src="~/DreamTemplates/images/KMSMC-logo.png" alt="img">
                                </div>
                           
                                <div class="login-userheading">
                                    <h3>Sign In</h3>
                                    <h4>Access the KMSMC-Mess panel using your email and passcode.</h4>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email Address</label>
                                    <div class="input-group">
                                        <input type="email" id="email" value="" class="form-control border-end-0">
                                        <span class="input-group-text border-start-0">
                                            <i class="ti ti-mail"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="pass-group">
                                        <input id="password" type="password" class="pass-input form-control">
                                        <span class="ti toggle-password ti-eye-off text-gray-9"></span>
                                    </div>
                                </div>
                           @*      <div class="form-login authentication-check">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="custom-control custom-checkbox">
                                                <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                                                    <input type="checkbox">
                                                    <span class="checkmarks"></span>Remember me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <a class="forgot-link" href="https://dreamspos.dreamstechnologies.com/html/template/forgot-password-2.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div> *@
                                <div class="form-login">
                                    <button type="button" class="btn btn-login w-100" onclick="Save()">Sign In</button>
                                </div>
                               @*  <div class="signinform">
                                    <h4>New on our platform?<a href="https://dreamspos.dreamstechnologies.com/html/template/register-2.html" class="hover-a"> Create an account</a></h4>
                                </div> *@
                              @*   <div class="form-setlogin or-text">
                                    <h4>OR</h4>
                                </div>
                                <div class="form-sociallink">
                                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                                        <div class="text-center me-2 flex-fill">
                                            <a href="javascript:void(0);" class="br-10 p-2 btn btn-info d-flex align-items-center justify-content-center">
                                                <img class="img-fluid m-1" src="./Dreams POS - Inventory Management &amp; Admin Dashboard Template_files/facebook-logo.svg" alt="Facebook">
                                            </a>
                                        </div>
                                        <div class="text-center me-2 flex-fill">
                                            <a href="javascript:void(0);" class="btn btn-white br-10 p-2  border d-flex align-items-center justify-content-center">
                                                <img class="img-fluid m-1" src="./Dreams POS - Inventory Management &amp; Admin Dashboard Template_files/google-logo.svg" alt="Facebook">
                                            </a>
                                        </div>
                                        <div class="text-center flex-fill">
                                            <a href="javascript:void(0);" class="bg-dark br-10 p-2 btn btn-dark d-flex align-items-center justify-content-center">
                                                <img class="img-fluid m-1" src="./Dreams POS - Inventory Management &amp; Admin Dashboard Template_files/apple-logo.svg" alt="Apple">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                                        <p>Copyright © 2025 DreamsPOS</p>
                                    </div>
                                </div> *@
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-lg-6 p-0">
                    <div class="login-img">
                        <img src="~/DreamTemplates/images/login.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/DreamTemplates/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/DreamTemplates/js/feather.min.js"></script>
    <script src="~/DreamTemplates/js/bootstrap.bundle.min.js"></script>
    <script src="~/DreamTemplates/js/script.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        function Save() {
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();
            var isValid = true;

            if (!email) {
                toastr.error("Please enter your email.");
                isValid = false;
            }

            if (!password) {
                toastr.error("Please enter your password.");
                isValid = false;
            }

            if (isValid) {
                $("#global-loader").show();

                $.ajax({
                    url: '@Url.Action("LoginUser", "Account")',
                    type: "POST",
                    data: { Email: email, Password: password },
                    success: function (result) {
                        $("#global-loader").hide();

                        if (result.isSuccess) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        } else {
                            toastr.error(result.message || "Invalid login credentials.");
                        }
                    },
                    error: function (xhr) {
                        $("#global-loader").hide();
                        toastr.error("Login failed. Please try again.");
                    }
                });
            }
        }
    </script>
</body>
</html>
