@using MessManagementSystem.Shared.Models.ResponseModels
@{
    Layout = "~/Views/Shared/_DreamLayout.cshtml";
    var roles = ViewBag.Roles as IEnumerable<RoleResponseModel>;
}

<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="page-title">
                <h4>User Management</h4>
                <h6>Register User</h6>
            </div>
        </div>

        <!-- Registration Card -->
        <div class="card">
            <div class="card-body">
                <form id="registerForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input id="firstname" type="text" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mess Number</label>
                                <input id="messNumber" type="text" class="form-control" placeholder="Enter Mess Number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Class</label>
                                <input id="batchClass" type="text" class="form-control" placeholder="Enter Class">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Security Fee</label>
                                <input id="securityFee" type="number" class="form-control" placeholder="Enter Security Fee">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Balance</label>
                                <input id="balance" type="number" class="form-control" placeholder="Enter Balance">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Enter Email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Password</label>
                                <input id="password" type="password" class="form-control" placeholder="Enter Password">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input id="confirmpassword" type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-select select" id="selectRole">
                                    <option selected disabled>Select Role</option>
                                    @foreach (var r in roles)
                                    {
                                        <option value="@r.Id">@r.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="mt-4 text-end">
                        <a class="btn btn-submit" href="javascript:void(0);" onclick="Save()">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function Save() {

            var isValid = true;
            if ($("#firstname").val() == "" || $("#firstname").val() == null) {
                toastr.error("Please enter name!");
                isValid = false;
            }
            if ($("#messNumber").val() == "" || $("#messNumber").val() == null) {
                toastr.error("Please enter messNumber!");
                isValid = false;
            }
            if ($("#batchClass").val() == "" || $("#batchClass").val() == null) {
                toastr.error("Please enter Class!");
                isValid = false;
            }
            if ($("#balance").val() == "" || $("#balance").val() == null) {
                toastr.error("Please enter Balance!");
                isValid = false;
            }
            if ($("#securityFee").val() == "" || $("#securityFee").val() == null) {
                toastr.error("Please enter Security Fee!");
                isValid = false;
            }
            if ($("#email").val() == "" || $("#email").val() == null) {
                toastr.error("Please enter email!");
                isValid = false;
            }
            if ($("#password").val() == "" || $("#password").val() == null) {
                toastr.error("Please enter password!");
                isValid = false;
            }
            if ($("#confirmpassword").val() == "" || $("#confirmpassword").val() == null) {
                toastr.error("Please enter confirm password!");
                isValid = false;
            }
            var roleIndex = $("#selectRole").prop('selectedIndex');
            if (roleIndex == 0) {
                toastr.error("Please Select Role");
                $("#selectRole").focus();
                return;
            }
            if (isValid) {

               var userData = {
                    FirstName: $("#firstname").val(),
                    MessNumber: $("#messNumber").val(),
                    BatchClass: $("#batchClass").val(),
                    Balance: $("#balance").val(),
                    SecurityFee: $("#securityFee").val(),
                    Email: $("#email").val(),
                    Role: $("#selectRole option:selected").text(),
                    Password: $("#password").val(),
                    ConfirmPassword: $("#confirmpassword").val(),
                    RoleId: $("#selectRole").val()
                };
                $("#global-loader").show();

                $.ajax({
                    url: '@Url.Action("RegisterUser", "Account")',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(userData),
                    success: function (result, status) {
                        if (status == "success") {
                            if (result.isSuccess === true) {
                                window.location.href = '@Url.Action("GetUsers", "Account")';
                                $("#global-loader").hide();
                            }
                            else {
                                if (result.isSuccess === false) {
                                    toastr.error(result.message);
                                } else {
                                    toastr.error(result.message);
                                }

                            }

                        }
                    },
                    error: function (result) {
                        $("#global-loader").hide();
                        toastr.error(result.message);
                    },
                });
                $("#global-loader").hide();
            }
        }

    </script>
}


