
<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="mb-3">
                    <label class="form-label">Date<span class="text-danger ms-1">*</span></label>
                    <div class="input-groupicon calender-input">
                        <input type="text" id="date" class="datetimepicker form-control" placeholder="Choose">
                    </div>
                </div>
            </div>

        



            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="text" id="amount" value="@Model.Amount">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="description" value="@Model.Description">
                </div>
            </div>
        </div>


    </div>
</div>
