
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Role </label>
                    <select class="select" id="selectRole">
                        <option selected>Select Role</option>
                        @foreach (var r in Model)
                        {
                            <option value="@r.Id">@r.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Head Name</label>
                    <input type="text" id="name" value="@Model.Amount">
                </div>
            </div>
        </div>


    </div>
</div>