<div class="card">
    <div class="card-body">
        <div class="row">

            <!-- Date -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Date <span class="text-danger ms-1">*</span></label>
                    <div class="input-groupicon calender-input">
                        <input type="text" id="date" class="datetimepicker form-control" placeholder="Choose Date">
                    </div>
                </div>
            </div>

            <!-- Amount -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="text" id="amount" class="form-control" value="@Model.Amount" placeholder="Enter amount">
                </div>
            </div>

            <!-- Description -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="description" class="form-control" value="@Model.Description" placeholder="Enter description">
                </div>
            </div>

        </div>
    </div>
</div>
