@{
	Layout = "~/Views/Shared/_DreamLayout.cshtml";
}
<div class="page-wrapper">
	<div class="content">
		<div class="page-er">
			<div class="page-title">
				<h4>Expense Management</h4>
				<h6>Edit/Update Expense</h6>
			</div>
		</div>
		<!-- /add -->
		<partial name="_AddEditMonthlyExpenseForm" model="Model" />
		<div class="col-lg-12">
			<a class="btn btn-submit me-2" id="btnUpdate" onclick="Update()"> Update</a>
			<a class="btn btn-cancel" href="@Url.Action("GetExpense", "Expense")" id="cancel" onclick="@Url.Action("GetExpense")">Cancel</a>
		</div>
		<!-- /add -->
	</div>
</div>


<script>
	function Update() {
		var isValid = true;
		if ($("#date").val() == "" || $("#date").val() == null) {
			toastr.error("Date is missing!");
			isValid = false;
		}
		if ($("#amount").val() == "" || $("#amount").val() == null || $("#amount").val() == "0") {
			toastr.error("Amount should be greater than zero!");
			isValid = false;
		}
		if ($("#description").val() == "" || $("#description").val() == null) {
			toastr.error("Please Add Description");
			isValid = false;
		}


		if (isValid) {
			var ExpenseData = {
				Date: $("#date").val(),
				Amount: $("#amount").val(),
				Description: $("#description").val(),
			};
			$.ajax({
				url: '/Expense/UpdateExpense/' + @Model.Id,
				type: "POST",
				data: ExpenseData,
				success: function (result, status) {
					if (status == "success") {
						if (result.isError === false) {
							toastr.success(result.description);
						}
						else {
							if (result.isError === true) {
								toastr.error(result.description);
							} else {
								toastr.error(result.description);
							}

						}
						Clear();
					}
				},
				error: function (result) {
					toastr.error(result.message);
				},
			});
		}
	}

	function Clear() {
		$("#name").val('');
	}
</script>
